<% layout('layouts/boilerplate') -%>

<body>
    <div class="d-flex justify-content-between mb-5">
    <h1>All Operatives</h1>
    <a class="btn btn-primary d-flex align-items-center" href="/operatives/new">Add Operative</a>
    </div>
    <div class="table-responsive col-6 offset-3">
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
        <% for (let operative of operatives) { %>
            <tr>
                <td>
                    <%= operative.name %>
                </td>
                <td>
                    <%= operative.number %>
                </td>
                <td>
                    <a href="/operatives/<%= operative._id %> ">View</a>
                </td>
            </tr>
            <% } %>

    </table>
</div>
    
