<% layout('layouts/boilerplate') -%>
<h1>Rounds</h1>

<form action="/rounds/new" method="GET">
    <input type="number" placeholder="round" name="number">
    <button>search</button>
</form>

<div class="d-flex justify-content-between mb-5">
    <h1>All Rounds</h1>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Operative</th>
            <th>Round No.</th>
            
        </tr>
    </thead>
    <% for (let round of rounds) { %>
        <tr>
            <td>
                <%= round.operative %>
            </td>
            <td>
                <%= round.jobs[0].roundNumber %>
            </td>
        </tr>
    <% } %>
    <p><%= rounds %></p>

    </table>
</div>