<% layout('layouts/boilerplate') -%>


<div class="d-flex justify-content-between mb-5">
    <h1>All Rounds</h1>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Operative</th>
            <th>Round No.</th>
            <th></th><th></th>
            
        </tr>
    </thead>

    


    </table>
        <!-- trying to access keys of objects in the array while ensuring they are still linked to the operative-->
        <% for (let round of rounds) { %>
            <% round.jobs.forEach (function (item) { %>
                 <%console.log(round.operative + item.name) %>
            <% }) %>
        <% } %>
    
    <p><%= rounds %></p>
</div>